body {
  margin: 0;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 97vh;
  margin: auto;
}

.center-container {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 15px;
  width: 250px;
  height: 410px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 0px 20px;
}

.flex-item {
  text-align: center;
}

#qr-code {
  border-radius: 8px;
}

#watermark {
  text-align: center;
}

p {
  font-size: 15px;
}

b {
  font-size: 18px;
}
